# ——————————————————————————————
# Python 自动忽略的垃圾文件（通用）
# ——————————————————————————————
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.bak
*.tmp
*.log
.DS_Store

# ——————————————————————————————
# 【这里写你自己不想上传的文件】
# ——————————————————————————————
RapidOCR.dll
box_config.ini
备份/
__pycache__/
dist/
截图/
自动钓鱼1.1.4(双击运行即可).exe/